DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Asia/Almaty

POSTGRES_DB=rural_pmsp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Для внешней БД раскомментируйте DATABASE_URL и отключите локальную db в compose
# DATABASE_URL=postgresql://postgres:password@host:5432/dbname

CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
